body {
    background-image: url('../pub-1701696_640.jpg');
    background-size: contain; /* This ensures the image covers the entire background */
    background-repeat: repeat-y; /* Prevents the image from repeating */
}
